*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
     background-color: white
    
    
}

header{
   border: 2px solid black;
   width: 100%;
   height: auto;
   
   
}

nav{
    display: flex;
    align-items: center;
    height: 70px;
    background-color:black;
    border: 2px solid black;
    position: fixed;
    width: 100%;
    
   
   
    
    
   
     
    
}
nav ul{
    display: flex;
    border: 2px solid black;
    margin-left: 420px;
    padding-left:  60px;
    justify-content: center;
    
    
    
}

nav ul li{
    list-style: none;
    color: black;

    
    

}
nav ul li a{
    text-decoration: none;
    color: red;
    font-size: 22px;
    margin-left: 100px;
    
   
}
nav ul li a:hover{
    color:white;
    font-size: 1.5rem;
}
.left{
    border: 2px solid white;
    margin-left: 54px;
}




.first{
  
  display: flex;
  align-items: center;
  margin-top: 100px;
  border: 3px solid white;
   }
   
.leftsection{
  border: 2px solid white;
 
  padding-left: 90px;
 
  margin-top: 90px;
  width: 600px;
  margin-left: 440px;
  
 
}


.rightsection{

 
 
 width: 400px;
 margin-left: 20px;
 display: inline-block;
 

}
.rightsection img{
  height: 600px;
  width: 700px;
  margin-right:200px;
  padding-right: 330px;
 
  
  
 
 
  
}
.hello{
  font-size: 70px;
}
.name{
  font-size: 40px;
  font-weight: bold;
  color: red;
}
.about{
  font-size: 25px;
}
.logo{
  display: inline-flex;
}
.logo a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(166, 166, 232);
  border-radius: 50%;
  font-size: 20px;
  color: rgb(166, 166, 232);
  text-decoration: none;
  margin: 30px 15px 30px 0px;

}
.logo a:hover{
  background-color: #0ef;
  color:rgb(11, 4, 67) ;
  box-shadow: 0 0 20px #0ef;
}





.button{
  margin-top: 10px;
}
.button button{
  padding: 10px;
  border-radius: 8px;
  color: white;
  background-color: red;
  margin: 0px 8px;
  font-size: 12px;
  border: 2px solid black;
  cursor: pointer;
}
.button button:hover{
  background-color: azure;
  color: rgb(206, 227, 13);

}


.about{
    font-size: 25px;
}
.logo{
    display: inline-flex;
}
.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(166, 166, 232);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(166, 166, 232);
    text-decoration: none;
    margin: 30px 15px 30px 0px;

}
.logo a:hover{
    background-color: #0ef;
    color:rgb(11, 4, 67) ;
    box-shadow: 0 0 20px #0ef;
}





.button{
    margin-top: 10px;
}
.button button{
    padding: 10px;
    border-radius: 8px;
    color: white;
    background-color: red;
    margin: 0px 8px;
    font-size: 12px;
    border: 2px solid black;
    cursor: pointer;
}
.button button:hover{
    background-color: azure;
    color: rgb(206, 227, 13);

}

/* About Section */
.about-me {
    background-color: #07374a;
    padding: 6rem 0;
    
  }
  
  .about-me .about-heading {
    color: #25b79f;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
  
  .about-content img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .about-content p {
    font-size: 1.2rem;
    color: #f0f0e6;
    padding: 0 2.3rem;
    text-align: center;
  }
  
  .skills .skills-heading {
    font-size: 2rem;
    font-weight: 600;
    color: #25b79f;
    text-align: center;
  }
  
  .about-me .about-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .about-content .left-content {
    flex-basis: 45%;
    text-align: center;
  }
  
  .about-content .right-content {
    flex-basis: 45%;
  }

  /* ///.....Skill Bar....../// */

.skills-bar {
    padding: 25px 30px;
  }
  
  .skills-bar .bar {
    margin: 25px 0;
  }
  
  .skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .skills-bar .bar .info {
    margin-bottom: 8px;
    color: #f0f0e6;
  }
  
  .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 550px;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  .bar .progress-line span {
    position: absolute;
    background: #25b79f;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  
  .progress-line .html {
    width: 80%;
  }
  .progress-line .css {
    width: 70%;
  }
  .progress-line .bootstrap {
    width: 50%;
  }
  .progress-line .javascript {
    width: 50%;
  }
  .progress-line .c {
    width: 50%;
  }
  
  .bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -12px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #f0f0f0;
  }
  
  .bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #07374a;
    font-size: 12px;
    font-weight: 700;
    background: #f0f0f0;
    padding: 1px 8px;
    border-radius: 3px;
  }
  
  .progress-line .html::after {
    content: "80%";
  }
  .progress-line .css::after {
    content: "70%";
  }
  .progress-line .bootstrap::after {
    content: "50%";
  }
  .progress-line .javascript::after {
    content: "50%";
  }
  .progress-line .c::after {
    content: "50%";
  }
  
  .navbar.solid {
    background-color: #07374a;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px rgb(7 55 74 / 20%);
    z-index: 500;
  }
  
  .navbar.solid .navbar-brand {
    display: inline-block;
    color: #f0f0e6;
    transition: color 1s ease 0s;
  }
  
  .navbar-brand {
    display: none;
    color: #f0f0e6;
    font-weight: 400;
  }
  
  .work-arrow {
    margin: 2rem 0;
  }
  
  .work-arrow a {
    font-size: 1rem;
    text-decoration: none;
    color: #25b79f;
  }
  
  .work-arrow-2 {
    margin: 2rem 0;
  }
  
  .work-arrow-2 a {
    font-size: 1rem;
    text-decoration: none;
    color: #25b79f;
    display: none;
  }

/* services  */
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 1.4rem;
    
    
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color: #0ef;
}
.container{
    padding: 90px;
}
.ser-list{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
   grid-gap:40px;
   margin-top: 50px;

   
}
.ser-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
        1px 1px 40px #0053b8f7
}
.ser-list div i{
    font-size: 50px;
    margin-bottom: 30px;

}
.ser-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.ser-list div  a{
    text-decoration: none;
    color:#000000 ;
    font-size: 12px;
    margin-top: 12px;
    display: inline-block;

}
.red{
    
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    
    box-shadow: 0 0 5px #0ef ,
      0 0 25px #0ef;
    

}
.red:hover{
    background-color:yellow;
    color: rgb(11, 4, 67);
    box-shadow: 0 0 20px #0ef;
}










/* Footer Section */

footer{
    background-color: black;
    margin-top: 300px;
}

.foot{
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    
    border: 2px solid white;
    justify-content: space-around;

}
.footer-col{
    border: 2px solid white;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.footer-col ul li{
    list-style: none;

}
.footer-col ul li{
    color:white;
}

.footer-col h4{
 padding-bottom: 15px;

}
.one{
    margin: 0px 50px;
    width: 200px;
    border: 2px solid white;
}
.one h4{
    color: white;
    font-size: 25px;
}
.one p{
    font-size: 20px;
}
.two{
    margin: 0 150px;
    width: 200px;
    font-size: 25px;
}
.two h4{
    color:white;
    font-size: 30px;
}

.third{
    margin: 0px 150px;
    width: 200px;
    font-size: 25px;
}
.third h4{
    color:white;
    font-size: 30px;
}

.fourth{
    margin: 0 50px;
    width: 200px;
}
.fourth h4{
    color: white;
}
.footer-col ul li{
    margin-top: 20px;
}
.footer-col p{
    margin-top: 20px;
}

.logo{
    display: inline-flex;
}
.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-decoration: none;
    margin: 30px 15px 30px 0px;

}

.footer-contact{
    margin-top: -100px;
    text-align: center;
}
.contact-us {
    background-color: gray;
    color: white;
    border-radius: 25px;
    width: 140px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
    padding-top: 7px;
    margin-bottom: 10px;
}
/* for resposnsive */


